* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-color: #9e9e9e;
	
}

/*---------------*/
	 /*Header*/
/*---------------*/
h1 {
	margin: 0 auto;
	text-align: center;
	text-shadow: 2px 2px #000!important;
	color: #fff!important;
   	font-family: 'Great Vibes', cursive;
}

header {
 	background-image: url(../img/header3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 55%;
	height: 550px;
}

.container {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	opacity: 0.8;
}

.navbar-default, .navbar-brand {
    text-shadow: 2px 2px #000!important;
	color: #fff!important;
   	font-family: 'Great Vibes', cursive;
    font-weight: 900;
    opacity: 0.8;
}

.navbar-default .navbar-nav > li > a {
	font-weight: bold; 
	color: #fff;
	text-shadow: 1px 1px #000!important;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    line-height: 22px;
}

.navbar-brand {
    float: left;
    height: 55px;
    padding: 20px 20px;
    font-size: 2.7em;
    line-height: 20px;
}

.navbar {
	background-color: #424242;
	border: none;
}

.navbar > a {
	color: #000;
}

/*---------------*/
	 /*Main*/
/*---------------*/

.row {
	margin: 0 auto;
	padding: 10px;
}

main div.row div.col-lg-6 {
	width: 50%;
	float: left;

}

img {
	border: 3px solid #fff;
	box-shadow: 20px 20px 20px #373737;
}

h2 {
	font-family: 'Great Vibes', cursive;
	color: #fff;
	text-shadow: 2px 2px #000!important;
	font-size: 4em;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
}

hr {
	height: 2px;
	background-color: lightgrey;
	width: 80%;
	margin: 30px auto; 
}

/*---------------*/
	 /*Footer*/
/*---------------*/

footer {
	height: 100%;
	padding: 10px;
	color: #fff;
	font-size: 1em;
	background-color: #424242;
}

footer  a{
	text-decoration: none;
	color: #fff;
}

mark {
    background-color: #616161;
    color: #fff;
}

.btn {
	background-color: #616161;
	border-color: #000;
	margin-top: 10px;
}

.btn:hover {
	background-color: #000;
	border-color: #fff;
}

.modal-content {
	color: #000;
}

/*--------------------------*/
	 /*Mobile Devices*/
/*-------------------------*/

/*---------------*/
	 /*Mobile*/
/*---------------*/
@media only	screen and (max-width: 480px){
	h2 {
	font-size: 3em;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	}

	.row p{
	margin: 0 auto;
	padding: 10px;
	}

	main div.row  {
	display: table-footer-group;
	}

	main div.row div.col-lg-6 {
	width: 100%;
	float: none;
	display: table;
	}

	h1 {
	font-size: 5em;
    margin: 45% 20%;
  
	}

	.iconLocation,
	.contactLocation {
		float: left;
		width: 100%;		
		padding: 20px;
		height: 100%;
	}
	
	div#socialMedia {
		display: inline-block;
		color: #fff;
		font-size: 2em;
	}

	div.contact {
		display: inline-block;
		color: white;
		font-size: 1em;
	}

	footer{
		padding-top: 20px;
	}

	footer  a{
		text-decoration: none;
		color: #fff;
	}

	.location > i {
	display: inline-block;
	margin: 0;
	}

	.location > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	}

	.phone > i {
	display: inline-block;
	margin: 0;

	}

	.phone > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	}

	.contact > i {
	display: inline-block;
	margin: 0;
	}

	.contact > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	} 
}

/*---------------*/
	 /*Tablet*/
/*---------------*/
@media only	screen and (min-width: 481px) and (max-width: 968px){
	h1 {
	font-size: 8em;
    margin: 25% 0;
  
	}

	main div.row div.col-md-8 {
	width: 100%;
	float: none;

	}

	.iconLocation,
	.contactLocation {
		float: left;
		width: 50%;		
		padding: 20px;
		height: 100%;
	}

	div#socialMedia {
		display: inline-block;
		color: #fff;
		font-size: 2em;
	}

	div.contact {
		display: inline-block;
		color: white;
		font-size: 1em;
	}

	#image1,
	#image2,
	#image3 {
		float: right;
	}

	footer  a{
		text-decoration: none;
		color: #fff;
	}


	.location > i {
	display: inline-block;
	margin: 0;
	}

	.location > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	}

	.phone > i {
	display: inline-block;
	margin: 0;

	}

	.phone > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	}

	.contact > i {
	display: inline-block;
	margin: 0;
	}

	.contact > p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
	}

	.row {
		display: inline-block;
	}


}


/*-----------------*/
	 /*Desktop*/
/*-----------------*/
@media only	screen and (min-width: 969px) {
	
	h1 {
	font-size: 8em;
    margin: 20% 0;
  
	}

	#image1,
	#image2,
	#image3 {
		float: right;
	}

	.location > i {
		display: inline-block;
		margin: 0;

	}

	.location > p {
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	.phone > i {
		display: inline-block;
		margin: 0;

	}

	.phone > p {
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	.contact > i {
		display: inline-block;
		margin: 0;
	}


	.contact > p {
		display: inline-block;
		margin-left: 5px;
		margin-bottom: 5px;
	}

	.iconLocation,
	.contactLocation {
		float: left;
		width: 50%;
		padding: 20px;
		height: 100%;
	}

	div.contactLocation > i {
		display: inline-block;
	}

	div#socialMedia {
		display: inline-block;
		color: #fff;
		font-size: 2em;
	}

	div.contact {
		display: inline-block;
		color: white;
		font-size: 1em;
	}
	
	.row {
		display: inline-block;
	}

}